<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Course</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <%- include('../header') %>

    <div class="container mx-auto p-8">
        <h1 class="text-3xl font-bold mb-6 text-center">Create New Course</h1>

        <form action="/course" method="post" class="bg-white p-6 rounded-lg shadow-md">
            <input type="hidden" name="_csrf" value="<%=csrfToken%>">
            <input type="hidden" name="create" value="create"/>
            <div class="mb-4">
                <label for="courseName" class="block text-gray-700 text-sm font-bold mb-2">What is the name of the course</label>
                <input type="text" name="courseName" id="courseName" placeholder="Enter the name of the course" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            </div>
            <div class="flex items-center justify-between">
                <input type="submit" value="Submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
            </div>
        </form>
    </div>

    <%- include('../footer') %>
</body>
</html>